/*
Project Name: Beer Book Buddy
Author: Trevor Lazarus
Front End Developer @GA in NYC
*/

body {
	background-image: url("../assets/notebook.png");
	background-color: rgba(0,0,0,.5);
	background-blend-mode: overlay;
	height: 100%;
}

/* Header */
header {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,1);
	background-blend-mode: overlay;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 7px 8px rgba(0,0,0,.12);
	z-index: +1;
}
header a {
	align-content: left;
	text-align: left;
}
.logo {
	float: left;
	margin: 15px 15px 15px 15px;
	height: auto;
	width: auto;
	max-width: 250px;
}
nav {
	float: right;
	margin: 25px 15px 24px 15px;
}
.navigation li {
	display: inline;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	margin: 0px 10px;
}
.navigation a {
	color: rgb(0,0,0);
}
.navigation a:visited {
	color: rgb(0,0,0);
}
.navigation a:hover {
	color: rgb(255,255,255);
}
.navigation a:active {
	color: rgb(255,255,255);
}
.active-nav {
	border-bottom: solid 3px rgb(0,0,0);
	color: rgb(255,255,255);
}

/* quiz styles */
.beer-background {
	background: url("../images/quiz_background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.beer-background::-webkit-scrollbar { 
    display: none; 
}
.quiz-body {
	text-align: center;
	height: 100%;
	margin-top: 70px;
	position: relative;
}
.book-content {
	/*padding-top: 30%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 35%);
}
.about-book img {
	margin: 0px 0px 20px 0px;
	content-shadow: 0px 3px 5px rgba(0,0,0,.35);
}
.about-book p {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: rgba(255,255,255,1);
	max-width: 700px;
	margin: 0 auto;
}
.about-book p a:link {
	color: white;
}
.about-book p a:visited {
	color: white;
}
.about-book p a:hover {
	color: white;
}
.about-book p a:active {
	color: white;
}
h2 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 50px;
	color: rgb(255,255,255);
}
.quiz-question {
	max-width: 600px;
}
.home-link {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	background-color: rgba(255,255,255,.8);
	padding: 10px 20px;
	margin: 20px 10px 56px 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	display: inline;
	border: none;
}
.home-link a:link {
	color: rgb(0,0,0);
}
.home-link a:visited {
	color: rgb(0,0,0);
}
.home-link:hover {
	background-color: rgba(0,0,0,.8);
	content-color: ;
	color: white;
}
.home-link:hover a {
	color: rgb(255,255,255);
}
.home-link a:active {
	color: rgb(0,0,0);
}
.quiz-content {
	/*padding-top: 30%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 100%);
}
form .quiz-response {
	margin-top: 20px;
}
.response {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	background-color: rgba(255,255,255,.8);
	padding: 10px 20px;
	margin: 10px 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	display: inline;
	border: none;
}
.response a:link {
	color: rgb(0,0,0);
}
.response a:visited {
	color: rgb(0,0,0);
}
.response:hover {
	background-color: rgba(0,0,0,.8);
	content-color: ;
	color: rgb(255,255,255);
}
.response:hover a {
	color: rgb(255,255,255);
}
.response a:active {
	color: rgb(0,0,0);
}

/* Quiz JS Stylings*/
.question-2 {
	display: none;
}
.question-3 {
	display: none;
}
.question-4 {
	display: none;
}
.question-5 {
	display: none;
}
.question-6 {
	display: none;
}

/* Footer Styling*/
footer {
	padding: 10px 10px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	clear: both;
	width: 100%;
	color: rgb(255,255,255);
}
footer p {
	color: rgb(255,255,255);
}
footer #dialog-open:hover {
	color: #fdf731;
	cursor: pointer;
}
.static-bottom {
	position: fixed;
	bottom: 0;
}
.italicize {
	font-style: italic;
}
footer a:visited {
	color: rgb(255,255,255);
}
footer a:hover {
	color: #fdf731;
}
/* Citations Styling*/
#window {  
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    border: none;
    padding: 2%;
    color: rgb(255,255,255);
    overflow-y: scroll;
    display: none;
    z-index: 1;
    text-align: left;
    margin-bottom: 19px;
}  
#window::-webkit-scrollbar { 
    display: none; 
}
#window h3 {
	text-align: center;
}
#window p {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	margin-top: 15px;
	z-index: 3;
}
#window a:link {
	color: white;
}
#window a:visited {
	color: white;
}
#window a:hover {
	color: #fdf731;;
}
#window a:active {
	color: white;
}
#window li {
	margin: 10px 20px;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}
#dialog-close {
	position: fixed;
	left: 95%;
	top: 1%;
	color: white;
	margin-top: 70px;
	border: none;
	background: none;
}

/* Tiles page styling */
.destinations-container {
	margin-top: 70px;
	margin-bottom: 30px;
	position: relative;
	min-height: 100%;
}
.bars-list, .locations-list {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,.5);
	background-blend-mode: overlay;
}

/* Mobile Nav */
.mobile-filters {
	display: none;
	text-align: center;
}
.filters-leftside {
	position: fixed;
	padding: 30px 30px;
	height: 100%;
	width: 20%;
}

/* Filters Styles */
h4 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 20px;
	color: rgb(0,0,0);
	margin-bottom: 25px;
}
h5 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	color: rgb(0,0,0);
	clear: both;
}
.filter-value {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	color: rgb(0,0,0);
	clear: both;
}
.filter-value-label {
	line-height: 20px;
	margin: 4px 0px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 15px;
} 
.clear-button {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	background-color: rgba(255,255,255,.8);
	padding: 10px 20px;
	margin: 20px 0px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	display: inline;
	border: none;	
}
.clear-button:hover {
	background-color: rgba(0,0,0,.8);
	content-color: ;
	color: white;
}
form hr {
	color: rgb(255,255,255);
	background-color: rgb(255,255,255);
	width: 100%;
	height: 3px;
	border: none;
	float: left;
	margin: 20px 0px;
}
form {
	margin: 4px 0px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 15px;
}
.tiles-container {
	float: right;
	padding: 30px;
	width: 80%;
	margin-left: 20%;
	/*min-height: 785px;*/
}

/* Map Styles */
#BeerBookBars {
    height: 610px;
    width: 100%;
}
.gm-style-iw * {
    display: block;
    margin: 0;
}
.gm-style-iw h4, .gm-style-iw p {
    margin: 0;
    padding: 0;
}
.gm-style-iw a {
    color: #4272db;
}

.locations-container {
	float: right;
	padding: 30px;
	width: 100%;
	margin-left: 10%;
}

.bar-tile {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,1);
	background-blend-mode: overlay;
	margin: 0px 10px 10px 0px;
	float: left;
	padding: 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	width: 300px;
	height: 320px;
	border-radius: 5px;
	display: block;
	postion: relative;
}
.tile-img {
	width: 280px;
	height: 200px;
}
.tile-title {
	margin: 10px 0px;
	font-weight: 700;
	border-bottom: solid 1px rgb(255,255,255);
	padding-bottom: 10px;
}
.tile-address {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 25px;
}
.yelp-stars {
	display: inline;
}
.star-img {
	width: 30px;
	height: 30px;
}
.bar-tile:hover {
	background-color: rgba(0,0,0,.8);
}
.bar-tile:hover .tile-title {
	color: rgb(255,255,255);
}
.bar-tile:hover .tile-address {
	color: rgb(255,255,255);
}
a.bar-tile-link:visited {
	color: rgb(0,0,0);
}
a.bar-tile-link:link {
	color: rgb(0,0,0);
}

/* Destination styling */
.bar-page::-webkit-scrollbar { 
    display: none; 
}
.destination-splash {
	height: 688px;
	text-align: center;
	margin-top: 70px;
	position: relative;
	background-size: cover;
	background-position: center;
	content-position: center;
	text-align: center;
	padding: 200px 0px;
}

.destination-title {
	margin-top: 125px;
	text-align: center;
	color: rgb(255,255,255);
	padding: 20px 20px;
	background-color: rgba(0,0,0,.5)
}

/*destination background classes*/
.adirondack-bkg {
	background-image: url("../images/adirondack_1.jpg");
}
.alchemy-bkg {
	background-image: url("../images/alchemy_1.jpg");
}
.bar-chord-bkg {
	background-image: url("../images/bar_chord_1.jpg");
}
.bergn-bkg {
	background-image: url("../images/bergn_1.jpg");
}
.branch-ofc-bkg {
	background-image: url("../images/branch_ofc_1.jpg");
}
.building-on-bond-bkg {
	background-image: url("../images/building_bond_2.jpg");
}
.catfish-bkg {
	background-image: url("../images/catfish_1.jpg");
}
.coney-brewing-bkg {
	background-image: url("../images/coney_brewing_1.jpg");
}
.covenhoven-bkg {
	background-image: url("../images/covenhoven_1.jpg");
}
.dean-street-bkg {
	background-image: url("../images/dean_street_1.jpg");
}
.dsk-bkg {
	background-image: url("../images/dsk_1.jpg");
}
.emerson-bkg {
	background-image: url("../images/emerson_2.jpg");
}
.freddys-bkg {
	background-image: url("../images/freddys_1.jpg");
}
.hamiltons-bkg {
	background-image: url("../images/hamiltons_6.jpg");
}
.high-dive-bkg {
	background-image: url("../images/high_dive_1.jpg");
}
.hollow-nickel-bkg {
	background-image: url("../images/hollow_nickel_1.jpg");
}
.hope-anchor-bkg {
	background-image: url("../images/hope_anchor_1.jpg");
}
.jake-walk-bkg {
	background-image: url("../images/jake_walk_1.jpg");
}
.kimoto-rooftop-bkg {
	background-image: url("../images/kimoto_rooftop_4.png-large");
}
.krupa-grocery-bkg {
	background-image: url("../images/krupa_grocery_1.jpg");
}
.lowlands-bkg {
	background-image: url("../images/lowlands_3.jpg");
}
.mekelburgs-bkg {
	background-image: url("../images/mekelburgs_2.jpg");
}
.midwood-flats-bkg {
	background-image: url("../images/midwood_flats_2.jpg");
}
.no-seven-bkg {
	background-image: url("../images/no_seven_1.jpg");
}
.robert-bar-bkg {
	background-image: url("../images/robert_bar_1.jpg");
}
.saint-catherine-bkg {
	background-image: url("../images/saint_catherine_1.jpg");
}
.sycamore-bkg {
	background-image: url("../images/sycamore_2.jpg");
}
.threes-brewing-bkg {
	background-image: url("../images/threes_brewing_2.jpg");
}
.vanderbilt-bkg {
	background-image: url("../images/vanderbilt_2.jpg");
}
.werkstatt-bkg {
	background-image: url("../images/werkstatt_3.jpg");
}
.wheated-bkg {
	background-image: url("../images/wheated_1.jpg");
}

.destination-description {
	background-color: rgb(0,0,0);
	padding: 20px 10%;
	text-align: center;
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	color: rgb(255,255,255);
	margin: 0 auto;
}
h3 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	color: rgb(255,255,255);
	max-width: 1000px;
	margin: 0 auto;
}
.destination-details {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,1);
	background-blend-mode: overlay;
	object-position: center;
}
.destination-map {
	float: left;
	margin: 40px;
	width: 50%;
	height: 400px;
	background-color: #fff;
}
#gmap-canvas {
	width: 100%;
	height: 100%;
}
#gmap-canvas img {
	max-width:none;
	background:none;
}
.infowindow {
	width: 100%;
}
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
.destination-stats {
	float: left;
	padding: 40px 40px 40px 0px;
	width: 50%-40px;
}
.destination-stats li {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
.destination-stats a {
	color: rgb(0,0,0);
}
.destination-stats a:visited {
	color: rgb(0,0,0);
}
.hours-open {
	display: inline-table;
}
.stat-answer {
	font-weight: 700;
}
.hours-text {
	font-weight: 400;
}

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Randomly needed stylings */
a {
	text-decoration: none;
}
.mobile-hidden {
	display: none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
#current-nav {
	color: white;
}
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

/*Responsive Media Queries*/
@media only screen and (min-height: 795px) {
	body {
		height: 100%;
		width: 100%;
	}
	.quiz-body {
		height: 100%;
		background-size: 100%;
	}
}

/* massive screens */
@media only screen and (min-width: 1501px) {
	.body-container {
		max-width: 1281px;
		margin: 0 auto;
	}
	.tiles-container {
		max-width: 1020px;
	}
	.filters-leftside {
		max-width: 261px;
	}
}

/* large desktop */
@media only screen and (min-width: 1281px) and (max-width: 1500px) {
	.body-container {
		width: 100%;
	}
	.tiles-container {
		margin-left: 30%;
		min-height: 678px;
	}
	h4 {
		font-size: 16px;
		margin-bottom: 25px;
	}
	aside h5 {
		font-size: 18px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 15px;
	} 
	form hr {
		height: 1px;
		margin: 15px 0px;
	}
	form {
		margin: 4px 0px;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 14px;
	}
}

/* desktop */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	aside h5 {
		font-size: 16px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 14px;
	} 
	form hr {
		height: 1px;
		margin: 15px 0px;
	}
	form {
		margin: 4px 0px;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 14px;
	}
	.bar-tile {
		margin: 0px 1% 1% 0px;
		padding: 1%;
		width: 32%;
		height: 320px;
	}
	.tile-title {
		font-size: 16px;
	}
	.tile-img {
		width: 100%;
		height: 200px;
	}
}

@media only screen and (max-width: 1230px) and (min-width: 1175px) {
	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	aside h5 {
		font-size: 16px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 14px;
	} 
	form hr {
		height: 1px;
		margin: 15px 0px;
	}
	form {
		margin: 4px 0px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 14px;
	}
	.bar-tile {
		height: 305px;
	}
	.tile-title {
		margin: 8px 0px 4px 0px;;
		padding-bottom: 10px;
	}
	.tile-address {
		font-size: 10px;
	}
}

@media only screen and (max-width: 1156px) and (min-width: 1025px) {
	.responses {
		line-height: 24px;
	}
	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	aside h5 {
		font-size: 16px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 12px;
	} 
	form hr {
		height: 1px;
		margin: 15px 0px;
	}
	form {
		margin: 4px 0px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 12px;
		padding: 10px;
	}.bar-tile {
		height: 305px;
	}
	.tile-title {
		font-size: 14px; 
		margin: 8px 0px 3px 0px;;
		padding-bottom: 10px;
	}
	.tile-address {
		font-size: 10px;
	}
}

/* tablet landscape */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.book-content {
		transform: translate(-50%, 20%);
	}
	.filters-leftside {
		width: 30%;
	}
	.tiles-container {
		width: 70%;
		padding-left: 0;
	}
	h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	aside h5 {
		font-size: 16px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 12px;
	} 
	form hr {
		height: 1px;
		margin: 15px 0px;
	}
	form {
		margin: 4px 0px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 12px;
	}
	.bar-tile {
		margin: 0px 2% 2% 0px;
		padding: 2%;
		width: 47%;
		height: 320px;
	}
	.tile-title {
		font-size: 16px;
	}
	.tile-img {
		width: 100%;
		height: 200px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 865px) {
	.quiz-content {
		transform: translate(-50%, 50%);
	}
	.tile-title {
		margin: 8px 0px 4px 0px;;
		padding-bottom: 10px;
	}
	.tile-address {
		font-size: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 850px) {
	.bar-tile {
		height: 305px;
	}
	.tile-title {
		font-size: 14px; 
		margin: 8px 0px 3px 0px;;
		padding-bottom: 10px;
	}
}

/* tablet portrait */
@media only screen and (min-width: 569px) and (max-width: 768px) {
	.book-content {
		transform: translate(-50%, 20%);
	}nav {
		margin-left: 0px;
	}
	.quiz-content {
		transform: translate(-50%, 50%);
	}
	.destination-splash {
		height: 79%;
	}
	.destination-description {
		padding: 20px 8%;
		height: 20%-70px;
	}
	.destination-description {
		background-color: rgb(0,0,0);
		padding: 20px 40px;
		text-align: center;
	}
	.destination-map {
		width: 45%;
		height: 300px;
	}
	.destination-map-small-margins{
		margin: 40px 20px 40px 40px;
	}
	.destination-stats {
		float: left;
		padding: 40px 0px 40px 0px;
	}
	.destination-stats li {
		font-size: 16px;
	}
	.filters-leftside {
		width: 30%;
	}
	h4 {
		font-size: 14px;
		margin-bottom: 15px;
	}
	aside h5 {
		font-size: 16px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 12px;
	} 
	form hr {
		height: 1px;
		margin: 15px 0px;
	}
	form {
		margin: 4px 0px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 12px;
	}
	.clear-button {
		font-size: 12px;
		padding: 10px;
	}
	.tiles-container {
		width: 70%;
		padding-left: 0;
	}
	.bar-tile {
		margin: 0px 2% 2% 0px;
		padding: 2%;
		width: 47%;
		height: 100%;
	}
	.tile-img {
		width: 100%;
		height: 150px;
	}
	.tile-title {
		font-size: 11px; 
		margin: 8px 0px 4px 0px;;
		padding-bottom: 10px;
	}
	.tile-address {
		font-size: 8px;
	}
}

@media only screen and (min-width: 569px) and (max-width: 642px) {
	aside h5 {
		font-size: 14px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 10px;
	} 
	.tile-address {
		font-size: 7px;
	}
	.clear-button {
		font-size: 12px;
		padding: 8px;
	}
} 
@media only screen and (min-width: 569px) and (max-width: 609px) {
	.star-img {
		width: 20px;
		heigh: 20px;
	}
	.clear-button {
		font-size: 10px;
		padding: 6px;
	}
	.tile-title {
		font-size: 10px; 
		margin: 8px 0px 4px 0px;;
		padding-bottom: 10px;
	}
}
/* small tablet/large mobile */
@media only screen and (min-width: 321px) and (max-width: 568px) {
	.logo {
		float: left;
		margin: 15px 0px 15px 15px;
		height: auto;
		width: auto;
		max-width: 250px;
	}
	.book-content {
		transform: translate(-50%, 20%);
	}h4 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.filter-value {
		font-size: 18px;
	}
	.filter-value-label {
		line-height: 20px;
		margin: 4px 0px;
		font-size: 12px;
	} 
	form hr {
		height: 1px;
		margin: 10px 0px;
	}
	form {
		margin: 4px 0px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 15px;
	}
	.clear-button {
		font-size: 12px;
	}
	.destination-splash {
		height: 70%;
	}
	.destination-title {
		margin-top: 20%;
		width: 100%;
		text-align: center;
		color: rgb(255,255,255);
		padding: 20px 20px;
		background-color: rgba(0,0,0,.5)
	}
	.destination-description {
		width: 100%;
		padding: 8%;
		font-family: 'Arvo', serif;
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		color: rgb(255,255,255);
	}
	.destination-map {
		width: 96%;
		height: 500px;
		margin: 2%;
		display: block;
	}
	.destination-stats {
		float: center;
		margin: 0 auto;
		padding: 5%;
		width: 100%;
	}
	.destination-stats li {
		padding: 3%;
		width: 100%;
		font-size: 30px;
		line-height: 36px;
		text-align: center;
	}
	h5 {
		font-size: 24px;
	}
	.infowindow {
		width: 100%;
		font-size: 24px;
		text-align: center;
	}
	.mobile-hidden {
		display: inline;
	}
	footer {
		padding: 20px 40px;
	}
	footer p {
		font-size: 20px;
		padding: 0px 20px;
	}
	.quiz-content {
		/*padding-top: 30%;*/
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 5%);
		width: 85%;
		padding-top: 15%;
	}
	h2 {
		font-size: 35px;
		line-height: 40px;
	}
	.response {
		font-size: 14px;
		padding: 10px 20px;
		margin: 10px 10px;
		width: 150px;
	}
	.filters-leftside {
		width:40%;
	}
	.filters-leftside h5 {
		font-size: 14px;
		line-height: 22px;
	}
	.tiles-container {
		width: 60%;
		margin-right: 5%;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.bar-tile {
		height: 100%;
	}
	#window {
		padding-bottom: 152px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 556px) {
	li.navigation {
		margin: 0px 5px;
		font-size: 15px;	
	}
	.destinations-container {
		margin-top: 69px;
	}
	.filters-leftside h5 {
		font-size: 12px;
		line-height: 20px;
	}
	.filter-value-label {
		font-size: 10px;
	}
	form hr {
		margin: 5px 0px;
	}
	.clear-button {
		padding: 5px;
		margin-top: 10px;
	}
	.bar-tile {
		width: 100%;
		padding: 3%;
	}
	.tile-img {
		width: 100%;
	}
	.tile-address {
		line-height: 14px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 424px) {
	.logo {
		float: left;
		margin: 15px;
		height: auto;
		width: 100%;
		max-width: 275px;
	}
	nav {
		float: right;
		margin: 5px 30px 20px 20px;
	}
	.navigation li {
		display: inline;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 20px;
		margin: 0px 10px;
	}
	#current-nav {
		border-bottom: solid 1px rgb(0,0,0);
		color: rgb(255,255,255);
	}
	.active-nav {
		border-bottom: 1px;
	}
	.book-content {
		margin-bottom: 100px;
	}
	.quiz-body {
		margin-top: 119px;
		height: 100%-119px;
		background-height: 100%;
	}
	#window {
		padding-bottom: 199px;
	}
	.about-book p {
		width: 80%;
	}
}
/* smallest iPhone */
@media only screen and (max-width: 320px) {
	.logo {
		float: left;
		margin: 15px;
		height: auto;
		width: 100%;
		max-width: 275px;
	}
	nav {
		float: right;
		margin: 5px 90px 20px 20px;
	}
	.navigation li {
		display: inline;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;
		font-size: 20px;
		margin: 0px 10px;
	}
	.beer-background {
		background-color: rgba(0,0,0,.5);
		background-blend-mode: overlay;
	}
	#current-nav {
		border-bottom: solid 1px rgb(0,0,0);
		color: rgb(255,255,255);
	}
	.active-nav {
		border-bottom: 1px;
	}
	.quiz-body {
		margin-top: 119px;
		height: 100%-119px;
		background-height: 100%;
	}
	.book-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 5%);
		width: 85%;
	}
	.about-book img {
		display: none;
		/*margin: 0px 0px 20px 0px;
		content-shadow: 0px 3px 5px rgba(0,0,0,.35);
		width: 250px;*/
	}
	.about-book p {
		font-size: 16px;
		line-height: 20px;
		padding-top: 10px;
	}
	.home-link {
		font-size: 14px;
		padding: 10px 20px;
		margin: 10px 10px;
		display: inline;
		width: 150px;
	}
	.quiz-content {
		/*padding-top: 30%;*/
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 5%);
		width: 85%;
		padding-top: 15%;
	}
	h2 {
		font-size: 35px;
		line-height: 40px;
	}
	.response {
		font-size: 14px;
		padding: 10px 20px;
		margin: 10px 10px;
		width: 150px;
	}
	.body-container {
		height: 100%;
	}
	.destination-splash {
		height: 449px;
		margin-top: 119px;
	}
	.destination-title {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		color: rgb(255,255,255);
		padding: 20px 20px;
		background-color: rgba(0,0,0,.5);
		margin: 0px;
	}
	.destination-description {
		width: 100%;
		padding: 8%;
		font-family: 'Arvo', serif;
		font-weight: 400;
		font-size: 18px;
		line-height: 24px;
		color: rgb(255,255,255);
	}
	.destination-map {
		width: 96%;
		height: 300px;
		margin: 2%;
		display: block;
	}
	.destination-stats {
		float: center;
		margin: 0 auto;
		padding: 5%;
		width: 100%;
	}
	.destination-stats li {
		padding: 3%;
		width: 100%;
		font-size: 18px;
		line-height: 24px;
		text-align: center;
	}
	h5 {
		font-size: 12px;
	}
	.infowindow {
		width: 100%;
		font-size: 12px;
		text-align: center;
	}
	.mobile-hidden {
		display: inline;
	}
	footer {
		padding: 10px;
	}
	footer p {
		font-size: 14px;
	}	
	.static-bottom {
		position: fixed;
		bottom: 0;
		padding-left: 10%;
		padding-right: 10%;
	}
	.destinations-container {
		background-image: url("../assets/notebook.png");
		background-color: rgba(149,102,70,.5);
		background-blend-mode: overlay;
		margin-top: 119px;
		margin-bottom: 46px;
		position: relative;
		height: 100%;
	}
	.mobile-filters {
		display: block;
	}
	.unopened-filters-mobile {
		position: fixed;
		border-bottom: 1px solid rgb(255,255,255);
		width: 100%;
		background-image: url("../assets/notebook.png");
		background-color: rgba(0,0,0,.5);
		background-blend-mode: overlay;
		top: 119px;
		left: 0;
		overflow: hidden;
		display: block;
		cursor: pointer;
	}
	.opened-filters-mobile {
		position: fixed;
		border-bottom: 1px solid rgb(255,255,255);
		width: 100%;
		background-image: url("../assets/notebook.png");
		background-color: rgba(0,0,0,.5);
		background-blend-mode: overlay;
		bottom: 48px;
		left: 0;
		overflow: hidden;
		display: block;
		display: none;
		cursor: pointer;
	}
	.filters-leftside {
		display: none;
		position: fixed;
		bottom: 83px;
		left: 0;
		top: 119px;
		text-align: center;
		padding: 15px 0px;
		color: rgb(255,255,255);
		width: 100%;
		background-image: url("../assets/notebook.png");
		background-color: rgba(0,0,0,.5);
		background-blend-mode: overlay;
	}
	h4 {
		font-family: 'Arvo', serif;
		font-weight: 700;
		font-size: 14px;
		color: rgb(0,0,0);
		margin-bottom: 10px;
		padding-top: 10px;
		color: rgb(255,255,255);
	}
	.filters-leftside h4 {
		display: none;
	}
	.filters-leftside h5 {
		color: rgb(255,255,255);
	}
	h5 {
		font-family: 'Arvo', serif;
		font-weight: 400;
		font-style: italic;
		font-size: 16px;
		color: rgb(0,0,0);
		clear: both;
		margin-top: 10px;
	}
	.filter-linebreak {
		display: none;
	}
	.filter-value-label {
		font-size: 12px;
		padding-right: 5%;
	}
	form hr {
		display: none;
	}
	.clear-button {
		font-size: 14px;
		padding: 10px 20px;
	}
	.tiles-container {
		display: block;
		width: 100%;
		margin-top: 25px;
		padding: 5% 1%;
		height: 100%;
		min-height: 376px;
	}
	.bar-tile {
		float: none;
		margin: 0px 5px 10px 7px;
	}
	.tile-img {
		width: 100%;
	}
	#window {
		padding-bottom: 167px;
	}
	#window li {
		display: block;
	}
	.bars-list::-webkit-scrollbar { 
    	display: none; 
	}
	#dialog-close {
		margin-top: 119px;
		left: 90%;
	}
}