/*
Project Name: Beer Book Buddy
Author: Trevor Lazarus
Front End Developer @GA in NYC
*/
body {
	background-image: url("../assets/notebook.png");
	background-color: rgba(0,0,0,.5);
	background-blend-mode: overlay;
}

/* Header */
header {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,1);
	background-blend-mode: overlay;
	overflow: hidden;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 7px 8px rgba(0,0,0,.12);
	z-index: +1;
}
header a {
	align-content: left;
	text-align: left;
}
.logo {
	float: left;
	margin: 15px 15px 15px 15px;
	height: auto;
	width: auto;
	max-width: 250px;
}
nav {
	float: right;
	margin: 25px 15px 24px 15px;
}
.navigation li {
	display: inline;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	margin: 0px 10px;
}
.navigation a {
	color: rgb(0,0,0);
}
.navigation a:visited {
	color: rgb(0,0,0);
}
.navigation a:hover {
	color: rgb(255,255,255);
}
.navigation a:active {
	color: rgb(255,255,255);
}
.active-nav {
	border-bottom: solid 3px rgb(0,0,0);
	color: rgb(255,255,255);
}
.quiz-body {
	background-image: url("../images/quiz_background.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
	min-height: 688px;
	margin-top: 70px;
	position: relative;
}
.quiz-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.about-book img {
	margin: 0px 0px 20px 0px;
	content-shadow: 0px 3px 5px rgba(0,0,0,.35);
}
.about-book p {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: rgba(255,255,255,1);
	max-width: 700px;
	margin: 0 auto;
}
.about-book p a:link {
	color: white;
}
.about-book p a:visited {
	color: white;
}
.about-book p a:hover {
	color: white;
}
.about-book p a:active {
	color: white;
}
h2 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-style: italic;
	font-size: 50px;
	color: rgb(255,255,255);
}
.home-link {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	background-color: rgba(255,255,255,.8);
	padding: 10px 20px;
	margin: 20px 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	display: inline;
	border: none;
}
.home-link a:link {
	color: rgb(0,0,0);
}
.home-link a:visited {
	color: rgb(0,0,0);
}
.home-link:hover {
	background-color: rgba(0,0,0,.8);
	content-color: ;
	color: white;
}
.home-link:hover a {
	color: rgb(255,255,255);
}
.home-link a:active {
	color: rgb(0,0,0);
}
.response {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 18px;
	background-color: rgba(255,255,255,.8);
	padding: 10px 20px;
	margin: 20px 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	display: inline;
	border: none;
}
.response a:link {
	color: rgb(0,0,0);
}
.response a:visited {
	color: rgb(0,0,0);
}
.response:hover {
	background-color: rgba(0,0,0,.8);
	content-color: ;
	color: white;
}
.response:hover a {
	color: rgb(255,255,255);
}
.response a:active {
	color: rgb(0,0,0);
}

/* Quiz JS Stylings*/
.question-2 {
	display: none;
}
.question-3 {
	display: none;
}
.question-4 {
	display: none;
}
.question-5 {
	display: none;
}
.question-6 {
	display: none;
}

/* Footer Styling*/
footer {
	padding: 10px 10px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	clear: both;
	width: 100%;
}
footer p {
	color: rgb(255,255,255);
}
footer a:link {
	color: white;
}
footer a:visited {
	color: white;
}
footer a:hover {
	color: #fdf731;
}
footer a:active {
	color: white;
}
.static-bottom {
	position: fixed;
	bottom: 0;
}
.italicize {
	font-style: italic;
}
.destinations-container {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,.5);
	background-blend-mode: overlay;
	padding-top: 70px;
	padding-bottom: 30px;
	position: relative;
}
.filters-leftside {
	position: fixed;
	padding: 30px 30px;
	min-height: 688px;
}
h4 {
	font-family: 'Arvo', serif;
	font-weight: 700;
	font-size: 20px;
	color: rgb(0,0,0);
	margin-bottom: 25px;
}
h5 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	color: rgb(0,0,0);
	clear: both;
}
.filter-value {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	color: rgb(0,0,0);
	clear: both;
}
.filter-value-label {
	line-height: 20px;
	margin: 4px 0px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 15px;
} 
form hr {
	color: rgb(255,255,255);
	background-color: rgb(255,255,255);
	width: 50%;
	height: 3px;
	border: none;
	float: left;
	margin: 20px 0px;
}
form {
	margin: 4px 0px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 15px;
}
.tiles-container {
	float: right;
	padding: 30px;
}
.bar-tile {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,1);
	background-blend-mode: overlay;
	margin: 0px 10px 10px 0px;
	float: left;
	padding: 10px;
	box-shadow: 0px 3px 5px rgba(0,0,0,.35);
	width: 300px;
	height: 320px;
	border-radius: 5px;
	display: block;
	postion: relative;
}
.tile-img {
	width: 280px;
	height: 200px;
}
.tile-title {
	margin: 10px 0px;
	font-weight: 700;
	border-bottom: solid 1px rgb(255,255,255);
	padding-bottom: 10px;
}
.tile-address {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 25px;
}
.yelp-stars {
	display: inline;
}
.star-img {
	width: 30px;
	height: 30px;
}
.bar-tile:hover {
	background-color: rgba(0,0,0,.8);
}
.bar-tile:hover .tile-title {
	color: rgb(255,255,255);
}
.bar-tile:hover .tile-address {
	color: rgb(255,255,255);
}
a.bar-tile-link:visited {
	color: rgb(0,0,0);
}
a.bar-tile-link:link {
	color: rgb(0,0,0);
}
.destination-splash {
	height: 688px;
	text-align: center;
	margin-top: 70px;
	position: relative;
	background-size: cover;
	overflow: hidden;
	content-position: center;
}
.destination-splash {
	background-size: cover;
	overflow: hidden;
	min-height: 688px;
	background-position: center;
	text-align: center;
	padding: 200px 0px;
	margin-top: 70px;
}
.destination-title {
	margin-top: 125px;
	text-align: center;
	color: rgb(255,255,255);
	padding: 20px 20px;
	background-color: rgba(0,0,0,.5)
}

/*destination background classes*/
.adirondack-bkg {
	background-image: url("../images/adirondack_1.jpg");
}
.alchemy-bkg {
	background-image: url("../images/alchemy_1.jpg");
}
.bar-chord-bkg {
	background-image: url("../images/bar_chord_1.jpg");
}
.bergn-bkg {
	background-image: url("../images/bergn_1.jpg");
}
.branch-ofc-bkg {
	background-image: url("../images/branch_ofc_1.jpg");
}
.building-on-bond-bkg {
	background-image: url("../images/building_bond_2.jpg");
}
.catfish-bkg {
	background-image: url("../images/catfish_1.jpg");
}
.coney-brewing-bkg {
	background-image: url("../images/coney_brewing_1.jpg");
}
.covenhoven-bkg {
	background-image: url("../images/covenhoven_1.jpg");
}
.dean-street-bkg {
	background-image: url("../images/dean_street_1.jpg");
}
.dsk-bkg {
	background-image: url("../images/dsk_1.jpg");
}
.emerson-bkg {
	background-image: url("../images/emerson_2.jpg");
}
.freddys-bkg {
	background-image: url("../images/freddys_1.jpg");
}
.hamiltons-bkg {
	background-image: url("../images/hamiltons_6.jpg");
}
.high-dive-bkg {
	background-image: url("../images/high_dive_1.jpg");
}
.hollow-nickel-bkg {
	background-image: url("../images/hollow_nickel_1.jpg");
}
.hope-anchor-bkg {
	background-image: url("../images/hope_anchor_1.jpg");
}
.jake-walk-bkg {
	background-image: url("../images/jake_walk_1.jpg");
}
.kimoto-rooftop-bkg {
	background-image: url("../images/kimoto_rooftop_4.png-large");
}
.krupa-grocery-bkg {
	background-image: url("../images/krupa_grocery_1.jpg");
}
.lowlands-bkg {
	background-image: url("../images/lowlands_3.jpg");
}
.mekelburgs-bkg {
	background-image: url("../images/mekelburgs_2.jpg");
}
.midwood-flats-bkg {
	background-image: url("../images/midwood_flats_2.jpg");
}
.no-seven-bkg {
	background-image: url("../images/no_seven_1.jpg");
}
.robert-bar-bkg {
	background-image: url("../images/robert_bar_1.jpg");
}
.saint-catherine-bkg {
	background-image: url("../images/saint_catherine_1.jpg");
}
.sycamore-bkg {
	background-image: url("../images/sycamore_2.jpg");
}
.threes-brewing-bkg {
	background-image: url("../images/threes_brewing_2.jpg");
}
.vanderbilt-bkg {
	background-image: url("../images/vanderbilt_2.jpg");
}
.werkstatt-bkg {
	background-image: url("../images/werkstatt_3.jpg");
}
.wheated-bkg {
	background-image: url("../images/wheated_1.jpg");
}

.destination-description {
	background-color: rgb(0,0,0);
	padding: 20px 40px;
	text-align: center;
}
h3 {
	font-family: 'Arvo', serif;
	font-weight: 400;
	font-size: 22px;
	font-syle: italic;
	line-height: 30px;
	color: rgb(255,255,255);
	max-width: 1000px;
	margin: 0 auto;
}
.destination-details {
	background-image: url("../assets/notebook.png");
	background-color: rgba(149,102,70,1);
	background-blend-mode: overlay;
	object-position: center;
}
.destination-map {
	float: left;
	margin: 40px;
	width: 50%;
	height: 400px;
	background-color: #fff;
}
#gmap-canvas {
	width: 100%;
	height: 400px;
}
#gmap-canvas img {
	max-width:none;
	background:none;
}
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}
.destination-stats {
	float: left;
	padding: 40px 40px 40px 0px;
	width: 50%-40px;
}
.destination-stats li {
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
}
.destination-stats a {
	color: rgb(0,0,0);
}
.destination-stats a:visited {
	color: rgb(0,0,0);
}
.hours-open {
	display: inline-table;
}
.stat-answer {
	font-weight: 700;
}
.hours-text {
	font-weight: 400;
}
/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}
a {
	text-decoration: none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
#current-nav {
	color: white;
}
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

/*Responsive Media Queries*/
@media only screen and (min-width: 1441px) {
	.body-container {
		max-width: 1281px;
		margin: 0 auto;
	}
	.tiles-container {
		max-width: 1020px;
	}
	.filters-leftside {
		max-width: 261px;
	}
}

@media only screen and (min-width: 1281px) and (max-width: 1440px) {
	.body-container {
		width: 100%;
	}
	.tiles-container {
		width: 70%;
		position: absolute;
		margin-left: 30%;
	}
	.filters-leftside {
		width: 30%;
	}
}

@media only screen and (max-width: 1280px) {
	.tiles-container {
		width: 70%;
	}
	.filters-leftside {
		width: 30%;
	}
}
/*and (min-width: 1025px)*/
